@page "/g/{GameId:guid}/map/view"
@layout GameLayout

@using GreenStar.AppService.Setup
@using GreenStar.BlazorUI.Components
@using GreenStar.BlazorUI.Components.GamePanels
@inject IDialogService _dialogService
@inject ISetupService _setupService
@inject NavigationManager _navigationManager

<PageTitle>Map</PageTitle>

@if (_isGamedLoaded)
{
    <div style="position:relative; width:100%; height:100%;">
        <Map GameId="GameId" OnActorClick="OnActorClick"></Map>

        <div style="position: absolute;top:8px;left:8px;width:450px;height:80%">
            <GamePanel GameId="GameId" PlayerId="PlayerId" ActorId="SelectedActorId" OtherFoundActorIds="OtherFoundActorIds"></GamePanel>
        </div>
    </div>
}
else
{
    <FluentButton OnClick="@(_ => _navigationManager.NavigateTo("/setup"))">No game found. Go to Setup</FluentButton>
}

@code {
    private bool _isGamedLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (GreenStar.AppService.GameHolder.Games.TryGetValue(GameId, out var turnManager))
        {
            _isGamedLoaded = true;

            PlayerId = turnManager.Players.GetAllPlayers().OfType<TurnEngine.Players.HumanPlayer>().First().Id;
        }
    }

    [Parameter]
    public Guid GameId { get; set; } = Guid.Empty;

    public Guid PlayerId { get; set; } = Guid.Empty;

    public Guid SelectedActorId { get; set; } = Guid.Empty;
    public Guid[] OtherFoundActorIds { get; set; } = [];

    public void OnActorClick(ActorClickEventArgs ea)
    {
        SelectedActorId = ea.ActorId;
        OtherFoundActorIds = ea.OtherActorIds;
    }
}
